.header-component {
  height: 5.625rem;
  background-color: $background-light;

  @media screen and (max-width: 600px) {
    height: auto;
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__wrapper-logo {
    width: 9.5rem;
    height: 3rem;
    position: absolute;
    left: 0;

    @media screen and (max-width: 600px) {
      position: relative;
      margin-bottom: 20px;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  &__wrapper-input {
    display: flex;
    align-self: center;
  }
}
